# vim temp files
*.swp
*.swo
notes.md
.~lock*

# random python temp files
__pycache__
.ipynb_checkpoints

# don't commit my local copies of old reports
lauren/old_reports/

# git is not happy about having these inputs uploaded - need to store files elsewhere 
inputs/
